
<div class="container w-50 mt-4  p-3">
    <div class="card bg-body rounded">
      <div class="card-body container-fluid">
        <div class="text-center mb-4">
          <h2>View Service</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="serviceId" class="form-label"><b>Service Id:</b></label>
              <p class="form-control">{{services.serviceId}}</p>
            </div>
            <div class="mb-3">
              <label for="serviceName" class="form-label"><b>Service Name:</b></label>
              <p class="form-control">{{services.serviceName}}</p>
            </div>
            <div class="mb-3">
              <label for="serviceShortName" class="form-label"><b>Service Short Name:</b></label>
              <p class="form-control">{{services.serviceShortName}}</p>
            </div>
            <div class="mb-3">
              <label for="categoryName" class="form-label"><b>Category Name:</b></label>
              <p class="form-control">{{services.category.categoryName}}</p>
            </div>
            
        </div>
        <div class="text-center mb-3">
          <a href="#" routerLink="/service" routerLinkActive="active" class="me-2">
            <button type="button" class="btn btn-back">
                <i class="fa-solid fa-arrow-left"></i> Back
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>