#addnew{
    background: linear-gradient(to right, #323131, #e0452d);
 }

 #tablehead{
    background-color: #23606c;
    color: white;
 }

 .card{
   background: linear-gradient(to bottom, #ffffff, #BDCAFF);
}