
        <div class="container w-50 mt-4  p-3">
            <div class="card bg-body rounded">
              <div class="card-body">
                <div class="text-center mb-4">
                  <h2>View Category</h2>
                </div>
                <!-- <div class="row"> -->
                  <!-- <div class="col-md-12"> -->
                    <div class="mb-3">
                      <label for="categoryId" class="form-label"><b>Category Id:</b></label>
                      <p class="form-control">{{category.categoryId}}</p>
                    </div>
                    <div class="mb-3">
                      <label for="categoryName" class="form-label"><b>Category Name:</b></label>
                      <p class="form-control">{{category.categoryName}}</p>
                    </div>
                    <div class="mb-3">
                      <label for="categoryShortName" class="form-label"><b>Category Short Name:</b></label>
                      <p class="form-control">{{category.categoryShortName}}</p>
                    </div>
                    
                <!-- </div> -->
                <div class="text-center mb-3">
                  <a href="#" routerLink="/category" routerLinkActive="active" class="me-2">
                    <button type="button" class="btn btn-back">
                        <i class="fa-solid fa-arrow-left"></i> Back
                    </button>
                  </a>
                <!-- </div> -->
              </div>
            </div>
          </div>