.header {
    /* position: relative; */
    /* text-align: center; */
    padding: 15px 0;
    /* background-color: #3d4d5c; */
    width: 100%;
    top: 0;
    height: 66px;
   
    /* background-size: cover; */
}
